<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
        </Console>

        <RollingFile name="example_INFO" filename="logs/example.log"   filepattern="logs/example.log.%d{YYYY-MM-dd}.gz">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} %-5p %c{2}.%M %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="logs">
                    <IfFileName glob="example.*.log.gz" />
                    <IfLastModified age="P7D" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="example_ERROR" filename="logs/example_ERROR.log"   filepattern="logs/example_ERROR.%d{YYYY-MM-dd}.log.gz">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} %-5p %c{1} %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="300 MB" />
            </Policies>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <DefaultRolloverStrategy>
                <Delete basePath="logs">
                    <IfFileName glob="example_ERROR.*.log.gz" />
                    <IfLastModified age="P7D" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>


    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="example_INFO" />
            <AppenderRef ref="example_ERROR" />
            <AppenderRef ref="Console" />

        </Root>
        <!-- <logger name="org.springframework" level="DEBUG" />  -->
    </Loggers>
</Configuration>

